<mat-toolbar color="primary" class="navbar">
  <span class="logo">{{ title }}</span>
  <div class="nav-links">
    <a mat-button href="#about">About Me</a>
    <a mat-button href="#skills">Skills</a>
    <a mat-button href="#projects">Projects</a>
    <a mat-button href="#api">REST API</a>
    <a mat-button href="#certifications">Certifications</a>
    <a mat-button href="#education">Education</a>
    <a mat-button href="#contact">Contact</a>
    <a mat-button href="#referees">Referees</a>
  </div>
</mat-toolbar>
<div class="content">
  <ng-content></ng-content>
</div>
